@import './normalize.css';

/*:root用于获取根元素Html*/
/*--color-text是CSS中定义变量的方式*/
/*在实际style中通过"font-size: var(变量名)"来使用变量*/
:root {
  --color-text: #666; /*文字的颜色*/
  --color-high-text: #ff5777; /*文字高亮颜色*/
  --color-tint: #ff8198; /*整体主题颜色：如导航条背景等*/
  --color-background: #fff;
  --font-size: 14px;
  --line-heigh: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", simSun, Arial, sans-serif;
  user-select: none; /*禁止用户鼠标在页面上选中文字、图片等*/
  -webkit-tap-highlight-color: transparent; /*webkit苹果浏览器引擎，tap点击、highlight背景高亮、color颜色*/
  background: var(--color-background);
  color: var(--color-text);
  /*rem vw/vh*/
  width: 100vw;
  margin: 8px;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
